// OVERRIDE DEFAULT VARIABLES
$primary: #45474b;
$secondary: #f4ce14;
$info: #235c47;
$warning: #f5f7f8;
// $success:
// $danger: #E87883;
// $light:
// $dark:

// $font-size-base: 0.9375rem;
$font-family-base: 'Inter Variable', sans-serif;
$font-family-sans-serif: $font-family-base;
$headings-font-family: $font-family-base;
$btn-font-family: $headings-font-family;
