@use './bootstrap.css';

body {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	header {
		width: 100%;
	}
	main {
		width: 100%;
	}
	footer {
		width: 100%;
		margin-top: auto;
	}
}

html {
	scroll-padding-top: 55px;
	/* scroll-snap-type: y proximity; */
	// word-break: break-all;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	font-family: 'Inter Variable', sans-serif;
}

.bx {
	font-size: 0.95em;
}

a,
.button,
.site-header.dark {
	transition: all 0.1s ease-in-out;
}

.section-heading {
	text-align: center;
	padding-bottom: 1rem;
	margin-bottom: 2.5rem;
	position: relative;
}

.section-heading::before {
	content: '';
	position: absolute;
	display: block;
	width: 240px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 120px);
}

.section-heading::after {
	content: '';
	position: absolute;
	display: block;
	width: 80px;
	height: 3px;
	background: var(--bs-primary);
	bottom: 0;
	left: calc(50% - 40px);
}

.section-copy {
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

main section {
	min-height: 75svh;
	display: flex;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	box-shadow: inset 0 -1px 4px rgba(3, 3, 3, 0.3);
}

main section:nth-child(even) {
	background-color: #fefefe;
}

main section:nth-child(odd) {
	background-color: #f6f6f6;
}
