.home-section {
  min-height: 100svh;

  .overlay {
    background-image: url('../img/home-bg.svg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 60px;
    filter: brightness(80%);
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333;
    z-index: 1;
  }

  .container {
    z-index: 2;
  }
}
