.home-section {
  min-height: 100svh;

  .overlay {
    background-image: url('../img/home-bg.png');
    background-repeat: repeat;
    background-attachment: fixed;
    filter: brightness(70%);
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: v.$primary;
    z-index: 1;
  }
  .container {
    z-index: 2;
  }
}

// @media only screen and (max-width: 768px) {
//   .home-section {
//     background-image: url('../img/home-bg-768.webp');
//   }
// }