/* Site Header
--------------------------------------------- */
.dark .site-header {
  background-color: rgba(v.$info, 0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.site-header {
  background-color: transparent;
  box-shadow: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  // padding: 0 5%;
}

.site-header .flex {
  display: grid;
  grid-template-columns: 2fr 7.5fr;
  align-items: center;
}

.site-title {
  margin-bottom: 0;
}

.site-title>a {
  background: url('../img/isi_logo.svg') no-repeat left;
  background-size: contain;
  display: block;
  height: 66px;
  text-indent: -9999px;
  margin-bottom: 0;
  z-index: -99;
}

.dark .site-title>a {
  height: 56px;
}

.site-description {
  display: block;
  height: 0;
  margin-bottom: 0;
  text-indent: -9999px;
}

.primary-menu .menu-item:has(a.active) {
  border-bottom: 1px solid #fff;
}

.primary-menu a {
  line-height: 66px;
}

.dark .primary-menu a {
  line-height: 56px;
}


/* For Large Devices only */
@media only screen and (min-width: 993px) {

  /* Responsive Menu
--------------------------------------------- */
  .menu-toggle {
    display: none;
    visibility: hidden;
  }

  .nav-primary {
    display: block !important;
  }

}


@media only screen and (max-width: 992px) {

  .site-header {
    background-color: rgba(v.$info, 0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  .site-title>a {
    height: 56px;
  }

  .primary-menu a {
    line-height: 56px;
  }

  .site-header .flex {
    grid-template-columns: 90% 10%;
  }

  nav.nav-primary {
    max-height: 0;
    transition: all 0.15s ease-out;
    overflow: hidden;
    position: relative;
  }

  nav.nav-primary.show {
    margin-top: 2rem;
    max-height: 100vh;
    transition: all 0.25s ease-in;
    visibility: visible;
  }

  .menu-toggle {
    background: transparent;
    border-width: 0;
    display: block;
    padding: 0;
    visibility: visible;
    cursor: pointer;
  }

  .primary-menu {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .primary-menu .menu-item {
    display: block;
    margin-left: -webkit-calc(10% + 10px);
    margin-left: calc(10% + 10px);
    width: 100%;
  }

  .menu-toggle:focus,
  .menu-toggle:hover {
    background-color: transparent;
    border-width: 0;
  }

  .menu-toggle::before {
    display: inline-block;
    text-rendering: auto;
    transform: rotate(0);
    transition: transform .25s ease-in-out;
    padding-top: 0.4rem;
    padding-right: 0;
  }

  .menu-toggle.activated::before {
    transform: rotate(180deg);
  }

  .menu-toggle::before,
  .menu-toggle.activated::before {
    text-rendering: auto;
  }

}