

// /* ## Main Content, Global Settings
// --------------------------------------------- */
// .home-section .container,
// .our-products .container,
// .our-team .container,
// .gallery-section .container,
// .contact-us .container {
//   display: -ms-grid;
//   display: grid;
//   place-items: center;
//   padding: 6rem 5%;
//   min-height: 100svh;
// }

// .our-products .row,
// .our-team .row,
// .gallery-section .row {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -o-flexbox;
//   display: flex;
//   gap: 2rem;
//   -webkit-box-pack: space-evenly;
//   -webkit-justify-content: space-evenly;
//   -moz-box-pack: space-evenly;
//   -ms-flex-pack: space-evenly;
//   -o-flex-pack: space-evenly;
//   justify-content: space-evenly;
// }


// .section-heading {
//   border-bottom: 1px solid #fff;
//   margin-bottom: 4rem;
//   padding-bottom: 1rem;
// }

// .our-products .product-widget h5 {
//   font-size: 1em;
// }




/* ### Product Secton Specific */
.our-products {
  background-color: v.$primary;
  text-align: center;
}

.our-products .row>* {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  line-height: 0;
  padding: 2rem 0 0;
}





/* ### Team Section */
.our-team {
  background-color: v.$secondary;
  text-align: center;
}

.our-team .row>* {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

.our-team .row>* h5 {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.our-team .row img {
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 2rem auto;
}

.our-team .row ul li.names,
ul.team-contact>li {
  font-style: normal;
  font-size: 2rem;
}

ul.team-contact>li {
  text-align: left;
  font-size: 1.6rem;
  padding: 1rem 0;

}

ul.team-contact>li>a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 0.2rem;
}






/* ### Gllery Section */
.gallery-section {
  background-color: v.$info;
}

.gallery-section .row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-section .row img {
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
}






/* ### Contact US Section */
.contact-us {
  background-color: #84B026;
}

.contact-us .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-gap: 3rem;
  grid-gap: 3rem;
  width: 100%;
}

ul.address-contact>li {
  font-size: 1.6rem;
  font-style: normal;
  padding: 1rem 0;
  text-align: left;
}

ul.address-contact>li>a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 0.2rem;
}






/* ### Footer Sections */
.site-footer {
  background-color: #3D3D3D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 5%;
}

.site-footer .powered a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 0.2rem;
}

















// /* For PC only */
// @media only screen and (min-width: 1200px) {

//   /* Responsive Menu
// --------------------------------------------- */
//   .home-section .row {
//     backdrop-filter: blur(5px);
//     background-color: rgba(0, 0, 0, 0.3);
//   }

// }








// @media only screen and (max-width: 1024px) {

//   /* ### Global */
//   .our-products .row,
//   .our-team .row,
//   .gallery-section .row {
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -webkit-flex-direction: column;
//     -moz-box-orient: vertical;
//     -moz-box-direction: normal;
//     -ms-flex-direction: column;
//     flex-direction: column;
//   }



//   /* ### Home Sections */
//   .home-section {
//     background-image: url('../img/home-bg-768.webp');
//   }

//   .home-section .row {
//     -ms-grid-columns: 1fr;
//     grid-template-columns: 1fr;
//   }

//   /* ### Contact us section */
//   .contact-us .row {
//     -ms-grid-columns: 1fr;
//     grid-template-columns: 1fr;
//   }

// }



// @media only screen and (max-width: 250px) {
//   .site-container {
//     min-width: 250px;
//   }
// }


// @media (prefers-reduced-motion) {

//   * {
//     -webkit-transition: none;
//     -moz-transition: none;
//     -ms-transition: none;
//     -o-transition: none;
//     transition: none;
//   }

// }