$primary: #45474B;
$secondary: #F4CE14;
$info: #379777;
$warning: #F5F7F8;
// $success:
// $danger: #E87883;
// $light:
// $dark:
$font-family-sans-serif: Inter,
sans-seif;
$odd-bg: #fefefe;
$even-bg: #fafafa;
$transition: all ease-in-out 0.2s;